.multiselect {
  min-height: 30px;
  // @apply text-skin-neutral-800;
}
.multiselect--disabled {
  @apply opacity-40;
}
.multiselect__tags {
  min-height: 30px;
  @apply bg-skin-secondary-60 border-0 shadow py-0 flex items-center cursor-pointer hover:bg-skin-primary-60;
}
.multiselect__select {
  @apply h-8 w-8 px-1;
}
.multiselect__placeholder {
  @apply mb-0 pt-0;
}
.multiselect__content-wrapper {
  // min-width: 200px;
  @apply mt-1 border-t border-skin-secondary-100 rounded-t min-w-fit;
}
.multiselect__content {
  @apply divide-y-2;
}
.multiselect__option {
  min-height: 24px;
  @apply py-1.5 text-xs xl:text-base;
}
.multiselect__single {
  @apply mb-0 p-0 bg-transparent text-skin-secondary-100 text-xs xl:text-base;
}
.multiselect__option--highlight {
  @apply bg-skin-primary-60 text-skin-secondary-100;
}
.multiselect__option--selected {
  @apply text-skin-primary-100 bg-transparent;
}
.multiselect__option--selected.multiselect__option--highlight {
  @apply bg-skin-primary-60 text-skin-secondary-100;
}
